@import '../../theme/var.scss';

.uco-radio {
    position: relative;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    &:hover .uco-radio-inner{
        border-color: $primary;
    }

    &.active .uco-radio-inner {
        border-color: $primary;

        &::after {
            opacity: 1;
            transform: scale(1);
            transition: all .3s;
        }

    }

    .uco-radio-inner {
        position: relative;
        display: inline-block;
        vertical-align: sub;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        border: solid 1px #666;
        transition: all .3s;

        &::after {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 10px;
            height: 10px;
            background-color: $primary;
            border-radius: 12px;
            opacity: 0;
            content: ' ';
            transform: scale(0);
        }
    }
}