div(class="show-area")
    button(class="uco-btn primary" id="message_info") info
    button(class="uco-btn success" id="message_success") success
    button(class="uco-btn warning" id="message_warning") warning
    button(class="uco-btn danger" id="message_danger") danger