div(class="show-area")
    button(class="uco-btn default" id="message_info") info
    button(class="uco-btn default" id="message_success") success
    button(class="uco-btn default" id="message_warning") warning
    button(class="uco-btn default" id="message_danger") danger