<div class="uco-tabs-wrap" id=<%= id %>>
    <div class="uco-tabs-bar">
        <div class="uco-tabs-nav">
            <%list.forEach((item, index) => { %>
            <div class="uco-tabs-tab <%= selected === index ? 'active' : '' %> "><%= item.text %></div>
            <%})%>
        </div>
        <div class="uco-tabs-active-bar"></div>
    </div>
    <div class='uco-tabs-content'>
        
    </div>
</div>