div(class="uco-dialog-wrapper" id=id)
    div(class="uco-dialog-header")
        span(class="uco-dialog-title") 提示
        span(class="uco-dialog-close" title="关闭")
    div(class="uco-dialog-content") 
        span(class="content-text") 内容呈现
    div(class="uco-dialog-footer")
        button(class="uco-btn default") 取消
        button(class="uco-btn primary") 确定