<div class="show-area">
    <button class="muco-btn default">默认按钮</button>
    <button class="muco-btn primary">首选按钮</button>
    <button class="muco-btn success">成功按钮</button>
    <button class="muco-btn danger">危险按钮</button>
    <button class="muco-btn info">信息按钮</button>
    <button class="muco-btn warning">警告按钮</button>
    <button class="muco-btn link">链接按钮</button>
</div>