<div class="show-area">
    <button class="uco-btn default">Default</button>
    <button class="uco-btn primary">Primary</button>
    <button class="uco-btn success">Success</button>
    <button class="uco-btn danger">Danger</button>
    <button class="uco-btn info">Info</button>
    <button class="uco-btn warning">Warning</button>
    <button class="uco-btn link">Link</button>
</div>